<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>Login Form</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />

	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="css/style-signup.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
	<!-- //web-fonts -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>

	<h1>Navigation Bar</h1>
	<!-- //title -->
	<!-- content -->
	<div class="container-fluid">
		<div class="row">
	<div class="sub-main-w3 col-sm-12">
		
	<form action="#" method="post">
			<div class="row">
			<div class="col-sm-3">


        	<div class="wthree-text bg">
				<table><br>
					<tr>
						<i style="font-size:60px" class="fa">&#xf2be;</i>
                        <h5>Create Account </h5>
                        <br>
                    </tr>
                    
					<tr>
						<i style="font-size:60px" class="fa">&#xf0fe;</i>
                        <h5>Attach Profiles</h5>
                        <br>
                    </tr>

                    <tr>
						<i style="font-size:60px" class="fa">&#xf14a;</i>
                        <h5>Authentication of Profile </h5>
                    <br>
                    </tr>

                      <tr>
						 <i style="font-size:60px" class="glyphicon">&#xe024;</i>
                        <h5>Start Using Tool </h5>
                        <br>
                    </tr>


				</table>	
						
			</div>
			</div>
			<div class="col-sm-1"></div>
        <div class="col-sm-8">
        	<div class="row">
        	<div class="col-sm-6">
        	<div class="form-style-agile">
			<label>
					<i class="fas fa-user"></i>
					FirstName
				</label>
				<input placeholder="FirstName" name="Name" type="text" required="">
			</div></div>
			<div class="col-sm-6">
        	<div class="form-style-agile">
				<label>
					<i class="fas fa-user"></i>
					LastName
				</label>
				<input placeholder="LastName" name="Name" type="text" required="">
			</div></div>
		</div>

		<div class="row">
        	<div class="col-sm-6">
        	<div class="form-style-agile">
				<label>
					<i class="fas fa-user"></i>
					Email
				</label>
				<input placeholder="Email" name="Name" type="email" required="">
			</div></div>
			<div class="col-sm-6">
        	<div class="form-style-agile">
				<label>
					<i class="fas fa-user"></i>
					Option
				</label>
				<input placeholder="LastName" name="Name" type="email" required="">
			</div></div>
		</div>
		<div class="row">
			<div class="col-sm-6">
			<div class="form-style-agile">
				<label>
					<i class="fas fa-unlock-alt"></i>
					Password
				</label>
				<input placeholder="Password" name="Password" type="password" required="">
			</div></div>
            <div class="col-sm-6">
			<div class="form-style-agile">
				<label>
					<i class="fas fa-unlock-alt"></i>
					Confirm Password
				</label>
				<input placeholder="Confirm Password" name="Password" type="password" required="">
			</div></div>
		</div>
			<!-- checkbox -->
			<div class="wthree-text">
				<ul>
					<li>
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I agree terms of services</span>
						</label>
					</li>
					
				</ul>
				<ul>
					<li>
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I agree Policy privacy</span>
						</label>
					</li>
					
				</ul>
			</div>
			<!-- //checkbox -->
			<input type="submit" value="Create Account"><br>
			<div class="wthree-text">
				<ul>
					<li>
							<span>Already Created Account?</span>
						
					
						<a href="#">Sign In>></a>
					</li>
				</ul>
			</div>

        </div>

		</div>
		</form>
	</div>
	
<!-- //content signup -->

</div></div>
	<!-- Jquery -->
	<script src="js/jquery-3.3.1.min.js"></script>
	<!-- //Jquery -->


</body>

</html>